<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$</title>
        <meta name="description" content="$desc$">
        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="header-container">
                <a class="logo" href="/">Sam Schweigel's website</a>
                <nav></nav>
            </div>
        </header>
        <main>
            $body$
        </main>
    </body>
</html>
