.cek-machine {
    .inputbar {
        display: flex;

        input {
            flex-grow: 1;
            height: 2.2em;
            font-family: "Ubuntu Mono", monospace;
            margin-right: 0.5em;
        }

        button {
            float: right;
            height: 2.5em;
        }
    }

    .errors {
        padding-top: 0.5em;
        color: red;
    }

    .dagre svg {
        width: 100%;
        font-family: "Ubuntu Mono", monospace;
    }

    .node {
        white-space: nowrap;
    }

    g.ccont > rect {
        stroke-width: 3px;
        stroke: blue;
    }

    g.cont > rect {
        stroke: blue;
    }

    .node rect {
        stroke: #333;
        fill: #fff;
        stroke-width: 1.5px;
    }

    .cluster rect {
        stroke: #333;
        fill: #000;
        fill-opacity: 0.1;
        stroke-width: 1.5px;
    }

    .edgePath path.path {
        stroke: #333;
        stroke-width: 1.5px;
        fill: none;
    }
}
